//////////////////////////////////////////////////////////////////////////
// COLOR VARIABLES ///////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
$khaki:		#CFC294;		// rgb (207, 194, 148)
$ltyello:	#E3D297;		// rgb (227, 210, 151)
$ltgreen:	#AFBC9D;		// rgb (175, 188, 157)
$orange:	#F54A28;		// rgb (245, 74, 40)
$grblue:	#373F4B;		// rgb (55, 63, 75)

//////////////////////////////////////////////////////////////////////////
// UNIVERSAL STYLING /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
body {
	background: #DBD1AE; //$khaki @ 75% opacity
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	line-height: 1.6;
	font-size: 1em;
	color: $grblue;
	vertical-align: top;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
}

a {
	color: $grblue;
	text-decoration: none;
}

.menubar {
	height: 50px;
	background-color: $ltgreen;
	margin: 0;

	.home-btn {margin: 10px 5px 10px 10px;}
	.nearest-mouse-btn {margin: 16px 5px 16px 5px;}
	.history-btn {margin: 11px 5px 11px 5px;}
	.settings-btn {margin: 10px 5px 10px 5px;}
	.logout-btn {margin: 13px 5px 13px 5px;}
}

.main-container {
	width: 90%;
	margin: 0 auto;
}

.button {
	box-shadow: inset 0px 0px 1px 0px #ABB899;
	background-color: $ltgreen;
	border-radius: 6px;
	border: 1px solid #ABB899;
	display: inline-block;
	color: $grblue;
	height: 12px;
	font-style: normal;
	line-height: 12px;
	text-decoration: none;
	text-align: center;
	padding: 8px;
	margin: 6px 0 6px 0;

	&:hover {background-color: rgba(0, 75, 107, 0.125);} //$midblue

	&:active {
		position:relative;
		top:1px;
	}
}

input {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	color: $grblue;

	background-color: #FFFFFF;
	height: 26px;
	width: 97%;
	padding: 4px;
	margin: 4px;
	border: 1px solid #dcdcdc;

	&.changed {background: #ffcccc;}
}

//////////////////////////////////////////////////////////////////////////
// SPLASH VIEW STYLING ///////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.splash-view {
	h1 {font-size: 3em;}
	h2 {margin: 0;}
	h1, h2 {font-family: "zubilo-web-black";}

	text-align: center;
	& img {
		max-height: 250px;
		margin: 0 20px 0 20px;
	}
	h1, h2, h3, span {margin: 0;}
	div {margin: 1em 0 0 0;}
}

//////////////////////////////////////////////////////////////////////////
// SIGN UP VIEW STYLING, LOG IN VIEW STYLING /////////////////////////////
//////////////////////////////////////////////////////////////////////////
.signup-view, .login-view {
	& img {
		max-height: 250px;
		margin: 0 20px 0 20px;
	}
	input {
		display: block;
		margin: 0 auto;
		margin-bottom: 5px;
	}
}

//////////////////////////////////////////////////////////////////////////
// USER HOME VIEW STYLING ////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.home-view {
	.user-bar {
		height: 50px;
		padding: 10px;
		background-color: $grblue;
		.khaki {color: #DBD1AE;}
	}

	h1, h3, h4 {margin: 0;}
	h2 {margin: 10px 0 0 0}
	//h4 {color: $grblue;}
	.ll {display: inline-block;}
	.title {color: $orange;}
	.black-bar {
		height: 3px;
		background-color: $grblue;
		margin-bottom: 5px;
	}
}

//////////////////////////////////////////////////////////////////////////
// CLOSEST MOUSE VIEW STYLING ////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.closest-mouse-view {
	h1 {margin-bottom: 0;}
	h4 {margin: 0;}
	.ll {display: inline-block;}
	.title {color: $orange;}
	input {
	}
}
//////////////////////////////////////////////////////////////////////////
// MOUSE HISTORY VIEW STYLING ////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.history-view {
	h1 {line-height: 1.2;}
	h2 {
		color: $orange;
		margin: 0;}
	p {margin: 0 0 24px 0}
}

//////////////////////////////////////////////////////////////////////////
// USER SETTINGS VIEW STYLING ////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.settings-view {
	h1 {margin: 4 0 4 0;}
}
