//////////////////////////////////////////////////////////////////////////
// UNIVERSAL STYLING /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
body {
	font-family: Arial, Sans-Serif;
	line-height: 1.6;
	font-size: 1em;
	color: #666666;
	vertical-align: top;
	margin: 0;
}

.main-container {
	width: 1005px;
	margin: 0 auto;
}

.button {
	box-shadow: inset 0px 0px 1px 0px #ffffff;
	background-color: #f9f9f9;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	height: 12px;
	line-height: 12px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	padding: 4px;
	margin: 2px;

	&:hover {background-color:#e9e9e9;}

	&:active {
		position:relative;
		top:1px;
	}
}

input {
	background-color: #f9f9f9;
	height: 16px;
	width: 350px;
	padding: 4px;
	margin: 2px;
	border: 1px solid #dcdcdc;

	&.changed {background: #ffcccc;}
}

//////////////////////////////////////////////////////////////////////////
// SPLASH VIEW STYLING ///////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.splash-view {
	& img {margin: 20px;}
	text-align: center;
}

//////////////////////////////////////////////////////////////////////////
// SIGN UP VIEW STYLING //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.signup-view {

}

//////////////////////////////////////////////////////////////////////////
// LOG IN VIEW STYLING ///////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.login-view {

}

//////////////////////////////////////////////////////////////////////////
// USER HOME VIEW STYLING ////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.home-view {

}

//////////////////////////////////////////////////////////////////////////
// CLOSEST MOUSE VIEW STYLING ////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.closest-mouse-view {

}

//////////////////////////////////////////////////////////////////////////
// MOUSE PHOTO VIEW STYLING //////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.single-photo-view {

}

//////////////////////////////////////////////////////////////////////////
// MOUSE REWARD VIEW STYLING /////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.reward-view {

}

//////////////////////////////////////////////////////////////////////////
// MOUSE GALLERY VIEW STYLING ////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.photo-gallery-view {

}

//////////////////////////////////////////////////////////////////////////
// ALL REWARDS VIEW STYLING //////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.all-rewards-view {

}

//////////////////////////////////////////////////////////////////////////
// USER SETTINGS VIEW STYLING ////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.settings-view {

}

//////////////////////////////////////////////////////////////////////////
// MOUSE HISTORY VIEW STYLING ////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.history-view {

}

//////////////////////////////////////////////////////////////////////////
// CONGRATULATIONS VIEW STYLING //////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.congrats-view {

}

//////////////////////////////////////////////////////////////////////////
// LOG OUT VIEW STYLING //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////

