<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>Mice On Main</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->

		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="bower_components/modernizr/modernizr.js"></script>
		<script type="text/javascript" src="//use.typekit.net/cuo1poj.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!-- endbuild -->
	</head>

	<body>
		<div class="menubar">
			<span class="home-btn"> <img src="../images/eye.png"> </span>
			<span class="nearest-mouse-btn"> <img src="../images/globe.png"> </span>
			<span class="photo-gallery-btn"> <img src="../images/camera.png"> </span>
			<span class="history-btn"> <img src="../images/book.png"> </span>
			<span class="settings-btn"> <img src="../images/user.png"> </span>
			<span class="logout-btn"> <img src="../images/logout.png"> </span>
		</div>
		
		<div class="main-container">
			<div class="splash-view"></div>
			<div class="signup-view"></div>
			<div class="login-view"></div>
			<div class="settings-view"></div>
			<div class="home-view"></div>
			<div class="closest-mouse-view"></div>
			<div class="single-photo-view"></div>
			<div class="reward-view"></div>
			<div class="photo-gallery-view"></div>
			<div class="all-rewards-view"></div>	
			<div class="congrats-view"></div>
			<div class="history-view"></div>
		</div><!-- closes main container div -->

		<!-- Scripts -->
		<script type="text/template" class="splash-template">
			<img src="../images/mouse.png">
			<h1>Mice On Main</h1>
			<h2>THE GAME</h2>
			<p>Hidden around Greenville are nine little mice.<br>Go on a hunt to find them all!</p>
			<div class="get-started">
				<h3>Ready to get started?</h3>
				<span class="show-signup-btn button"> <a href="#signup">Create an account.</a> </span>
			</div>
			<div class="get-started">
				<h3>Already have an account?</h3>
				<span class="show-login-btn button"> <a href="#login">Log In</a> </span>
			</div>
		</script>

		<script type="text/template" class="signup-template">
			<h1>Sign Up</h1>			
			<img src="../images/mouse.png">
			<input class="username-input" type="text" placeholder="Username">
			<input class="email-input" type="text" placeholder="Email">
			<input class="password-input" type="text" placeholder="Password">
			<input class="hometown-input" type="text" placeholder="Where are you from?">
			<span class="signup-btn button">Sign Up</span>
		</script>

		<script type="text/template" class="login-template">
			<h1>Log In</h1>
			<img src="../images/mouse.png">
			<input class="username-input" type="text" placeholder="Username">
			<input class="password-input" type="text" placeholder="Password">
			<span class="login-btn button">Log In</span>
		</script>

		<script type="text/template" class="user-settings-template">
			<h1>Settings</h1>
			<input class="email-input" type="text" placeholder="Email">
			<input class="password-input" type="text" placeholder="Password">
			<span class="save-settings-btn button">Save</span>
		</script>

		<script type="text/template" class="user-home-template">
			<h1> <%= Parse.User.current().attributes.username %> </h1>
				<h4 class="ll"> LAT <%= userGeoPoint._latitude %>, LONG <%= userGeoPoint._longitude %> </h4>
			<div class="black-bar"><h2>Closest Mouse</h2></div>
				<h3> <%= nearestMouse.attributes.mouseName %> </h3>
				<h4 class="ll"> LAT <%= nearestMouse.attributes.mouseGeopoint._latitude %>, LONG <%= nearestMouse.attributes.mouseGeopoint._longitude %> </h4>
			<div class="black-bar"><h2>Mice Found</h2></div>
			<div class="mice-found-target"></div>
			<div class="black-bar"><h2>Mice Remaining</h2></div>
			<div class="mice-remaining-target"></div>
		</script>

		<script type="text/template" id="indiv-found-mouse">
		<h3> <%= mouse.get("mouseName") %> </h3>
		</script>

		<script type="text/template" id="indiv-remaining-mouse">
		<h3> <%= mouse.get("mouseName") %> </h3>
		</script>

		<script type="text/template" class="mouse-view-template">
			<h1> <%= nearestMouse.attributes.mouseName %> </h1>
			<h4 class="ll"> LAT <%= nearestMouse.attributes.mouseGeopoint._latitude %>, LONG <%= nearestMouse.attributes.mouseGeopoint._longitude %> </h4>
			<p> <%= nearestMouse.attributes.mouseHint %> </p>
			<input type="file" capture="camera" accept="image/*" id="takePictureField">
			<span class="upload-mouse-photo-btn button">Upload Mouse Photo</span>
		</script>

		<script type="text/template" class="photo-template">
			<h1> mouseName </h1>
			<img src="http://placehold.it/100x100"/>
		</script>

		<script type="text/template" class="reward-template">
			<h2>YOU FOUND</h2>
			<span class="show-all-rewards-btn button"> <a href="#rewardgallery">See All Rewards</a> </span>
		</script>		

		<script type="text/template" class="gallery-template">
			<img src="<%= imgURL %>"/>
		</script>

		<script type="text/template" class="all-rewards-template">
			<h1>My Rewards</h1>
			<h3>YOU’VE EARNED x OF x</h3>
			<span class="back-to-search-btn button"> <a href="#userview">Back to the search!</a> </span>
		</script>

		<script type="text/template" class="congrats-template">
			<h1>Congratulations!</h1>
			<h1>You’ve found all the mice!</h1>
		</script>

		<script type="text/template" class="history-template">
			<h1>How the Mice On Main Came To Main Street</h1>
			<h2>The Idea: Jim Ryan</h2>
				<p>For his senior project at Christ Church Episcopal School in 2000, Jim Ryan proposed the idea of installing a family of nine unique mice sculptures in surprising places along Greenville s Main Street from the Hyatt to the Westin Poinsett Hotel. His original idea spun from the book, Goodnight Moon, which he and his mom read every night when he was small. There are nine mice pictured in that story. Count them yourself.</p>
				<p>Ryan made his way through the red tape involved in any city project and then raised the money, with the assistance of donors and the mayor, to complete his project.</p>
			<h2>The Sculptor: Zan Wells</h2>
				<p>Multi-talented Greenville sculptor, Zan Wells, actually created the mice. She and Ryan became a team, and Wells sculpted nine individual bronze mice, each one with his own look, character, and special place on Main Street.</p>
				<p>Ryan and Wells placed the mice in their permanent places, thus creating Greenville s fanciful downtown scavenger hunt for children of all ages.</p>
			<h2>The Book: Linda Kelly</h2>
				<p>One spring day in 2007, Linda Kelly and her granddaughter, Sara, were hunting for the mice. Sara asked, "Grandmother, is there a book about the mice?"  When Kelly told about Goodnight Moon, Sara said she meant a book about Greenville s mice. "Why don't you write one?" she said to Kelly. And she did.</p>
			<h2>All Together Now</h2>
				<p>Kelly contacted Wells and Ryan about the book, and the three of them decided to become partners. Sitting around Wells s kitchen table, they read the story and named the mice.</p>
				<p>Wells agreed to illustrate the book. Thus, the sculptor who created the bronze mice became the illustrator of their book.</p>
				<p>Mice On Main was presented to Greenville on August 23, 2008 at the Metropolitan Arts Council in the form of a celebration and signing.</p>
		</script>

		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>

		<!-- build:js scripts/main.js -->
		<script src="scripts/splashpage.js"></script>
		<script src="scripts/models-and-collections.js"></script>
		<script src="scripts/sign-up-view.js"></script>
		<script src="scripts/log-in-view.js"></script>
		<script src="scripts/user-home-view.js"></script>
		<script src="scripts/closest-mouse-view.js"></script>
		<script src="scripts/single-mouse-photo-view.js"></script>
		<script src="scripts/reward-view.js"></script>
		<script src="scripts/all-rewards-view.js"></script>				
		<script src="scripts/user-settings-view.js"></script>
		<script src="scripts/history-view.js"></script>
		<script src="scripts/congrats-view.js"></script>
		<script src="scripts/menubar.js"></script>
		<script src="scripts/geo.js"></script>	
		<script src="scripts/router.js"></script>
		<!-- endbuild -->
	</body>
</html>