<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>Mice On Main</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->

		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>

	<body>
		<div class="main-container">
			<div class="splash-view"></div>
			<div class="signup-view"></div>
			<div class="login-view"></div>
			<div class="settings-view"></div>
			<div class="home-view"></div>
			<div class="mouse-view"></div>
			<div class="single-photo-view"></div>
			<div class="photo-gallery-view"></div>
		</div><!-- closes main container div -->

		<!-- Scripts -->
		<script type="text/template" class="splash-template">
			<h3>Ready to get started?</h3>
			<span class="show-signup-btn button"> <a href="#signup">Create an account.</a> </span>
			<h3>Already have an account?</h3>
			<span class="show-login-btn button"> <a href="#login">Log In</a> </span>
		</script>

		<script type="text/template" class="signup-template">
			<input class="username-input" type="text" placeholder="Username">
			<input class="email-input" type="text" placeholder="Email">
			<input class="password-input" type="text" placeholder="Password">
			<input class="hometown-input" type="text" placeholder="Where are you from?">
			<span class="signup-btn button"> <a href="#userview">Sign Up</a> </span>
		</script>

		<script type="text/template" class="login-template">
			<input class="username-input" type="text" placeholder="Username">
			<input class="password-input" type="text" placeholder="Password">
			<span class="login-btn button"> <a href="#userview">Log In</a> </span>
		</script>

		<script type="text/template" class="user-settings-template">
			<input class="email-input" type="text" placeholder="Email">
			<input class="password-input" type="text" placeholder="Password">
			<span class="save-settings-btn button">Save</span>
		</script>

		<script type="text/template" class="user-home-template">
			<h1> <%= currentUser.attributes.username %> </h1>
				<h3> <%= currentUser.attributes.userGeo %> </h3>
			<h2>Closest Mouse</h2>
				<h3> <%= this.mouseName %> </h3>
				<h4> <%= this.mouseGeopoint %> </h4>
			<h2>Mice Found</h2>
			<h2>Mice Remaining</h2>
			<h2> <%= this.time %> </h2>
		</script>

		<script type="text/template" class="mouse-view-template">
			<h1> <%= mouseName %> </h1>
			<h3> <%= mouseGeopoint %> </h3>
			<p> <%= mouseHint %> </p>
		</script>

		<script type="text/template" class="photo-template">
			<h1> <%= mouseName %> </h1>
			<img src="<%= imgURL %>"/>
			<h4> <%= imgCaption %> </h4>
		</script>

		<script type="text/template" class="gallery-template">
			<img src="<%= imgURL %>"/>
		</script>


		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>

		<!-- build:js scripts/main.js -->
		<script src="scripts/splashpage.js"></script>
		<script src="scripts/models-and-collections.js"></script>
		<script src="scripts/sign-up-view.js"></script>
		<script src="scripts/log-in-view.js"></script>
		<script src="scripts/user-home-view.js"></script>
		<script src="scripts/user-settings-view.js"></script>
		<script src="scripts/router.js"></script>
		<!-- endbuild -->
	</body>
</html>